/*------------------------------------*\
    primary color
\*------------------------------------*/
$color-primary: #c0392b;
$color-secondary: #859900;

$color-safe: #2ecc71;
$color-danger: #e74c3c;
$color-warning: #f1c40f;

$color-dashboard: #e9eff3;